<h1>React Calendar</h1>
<h2>Appointments</h2>

<div id="appointments_data" data="<%= @appointments.to_json %>"></div>

<%= javascript_pack_tag 'appointments' %>
<%= stylesheet_pack_tag 'appointments' %>